.collections {
    padding: 10px;
   
}

.collections h2{
    color:#0D5C63;
    justify-content: center;
    display: flex;
    font-size: 1.6em;
    padding-bottom: 10px;
}




.collection-grid{
    justify-content: center;
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 10px;
    
}

.collection-card {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px 20px 0px 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161); */
    text-align: center;
}

.collection-grid img{
    height: 70px;
    object-fit: cover;
}

