

.Header {
    color: #0D5C63;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
    display: flex;
    text-align: center;
}

.title span {
    margin-top: 5px;
    align-items: center;
    margin-left: 10px;
}

.logo {
    margin-top: 5px;
    align-items: center;
    height: 30px;
    filter: invert(30%);
}

.title span h3 {
    font-size: 1.5em;
}

.title span p {
    font-size: 1.2em;
}