.Hero input{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    z-index: 2;
    font-size: 1.3em;
    border-radius: 40px;
    outline: none;
    padding: 10px;
    border: solid #444444 1px;
    color: #444444;
    background-color: #ffff;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.889);
   
    }

.Hero input::placeholder{
    color: #444444;
    padding-left: 10px;
}



.Hero .search-icon  {
    z-index: 2;
    right: 10%;
    padding-top: 20px;
    position: absolute;
}

.Hero img {
    width: 100%;
    overflow: hidden;
    height: 50vh;
    object-fit:fill;
    object-position: center;
    width: 100%;
   
} 