

.card {
    padding: 20px 0px 80px 20px;
 
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0) ,  rgba(197, 191, 191, 0)), url('https://media.istockphoto.com/id/1041149200/photo/various-car-parts-and-accessories-on-white-background-3d-illustration.jpg?s=170667a&w=0&k=20&c=18Du5kC0uiKSBnsJ2UEDBmptMIjNVn4Y3634iDJ1B7A=');
    background-repeat: no-repeat;
  background-size: fill;
  background-color: white;
  background-position: center;
 
}

.card h1 {
    color: #0D5C63;
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
}


.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 40px;
    background-color:white;
    margin-top: 10px;
   padding: 15px;
   width: 100%;
   font-size: 1.2em;
   border-color: rgb(66, 64, 64);
   color: rgb(66, 64, 64);
}

.search-button{
    text-align: center;
    color: white;
    background-color: #0D5C63;
    padding: 15px;
    border-radius: 40px;
    margin-top: 15px;
}


.search-button p{
    font-size: 1.1em;
}