.types .heading{
    text-align: center;
    color: #0D5C63;
    text-align: center;
    font-size: 1.8em;
    padding: 10px;
}

.oils h1{
    font-size: 1.5em;
    color: black;
    padding: 20px 0 0 20px; 
    text-align: start;
}

.oils{

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(199,198,198);
    background-image:linear-gradient(to right,rgba(199,198,198,0.5),rgba(199, 198, 198, 0.5)), url('../assets/oils_bg.png');
    background-size: cover;
    background-position: calc(24vw) 0 ;
    background-repeat: no-repeat;
    height: 210px;
}

.spares h1{
    font-size: 1.5em;
    color: black;
    padding: 20px 0 0 20px; 
    text-align: start;
}

.spares{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(199,198,198);
    margin-top: 20px;
    background-image:linear-gradient(to right,rgba(199,198,198,0.5),rgba(199, 198, 198, 0.5)),  url('../assets/spares_bg.png');
    background-size: cover;
    background-position: calc(24vw) 0 ;
    background-repeat: no-repeat;
    height: 210px;
}


.types h1{
    font-size: 1.5em;
    color: black;
    padding: 20px 0 0 20px; 
    text-align: start;
}
.tyres{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(199,198,198);
    margin-top: 20px;
    background-image:linear-gradient(to right,rgba(199,198,198,0.5),rgba(199, 198, 198, 0.5)),  url('../assets/tyres_bg.png');
    background-size: cover;
    background-position: calc(25vw) 0 ;
    background-repeat: no-repeat;
    height: 210px;
}

.types p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
    margin:20px 0 0 20px;
    width: 50%;
}

.types .cta-button{
    font-size: 1.2em;
    margin:10px 0 0 20px;
    background-color: #0D5C63;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}